Calculator/CalculatorJAX-WS/WebContent/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getResult">
    <complexType>
     <sequence>
      <element name="operation" type="xsd:string"/>
      <element name="number1" type="xsd:double"/>
      <element name="number2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultResponse">
    <complexType>
     <sequence>
      <element name="getResultReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResultRequest">

      <wsdl:part element="impl:getResult" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResultResponse">

      <wsdl:part element="impl:getResultResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculator">

      <wsdl:operation name="getResult">

         <wsdl:input message="impl:getResultRequest" name="getResultRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResultResponse" name="getResultResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/Calculator_JAX/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
