Ebay Webservices/Ebay_JAX/WebContent/wsdl/Advertisement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.com" xmlns:intf="http://soap.com" xmlns:tns1="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.com"/>
   <element name="getAds">
    <complexType/>
   </element>
   <element name="getAdsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAdsReturn" type="tns1:Advertisements"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Advertisements">
    <sequence>
     <element name="adv_id" type="xsd:double"/>
     <element name="item_description" nillable="true" type="xsd:string"/>
     <element name="item_name" nillable="true" type="xsd:string"/>
     <element name="item_price" type="xsd:double"/>
     <element name="item_qty" type="xsd:int"/>
     <element name="seller_name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAdsRequest">

      <wsdl:part element="impl:getAds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsResponse">

      <wsdl:part element="impl:getAdsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Advertisement">

      <wsdl:operation name="getAds">

         <wsdl:input message="impl:getAdsRequest" name="getAdsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdsResponse" name="getAdsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AdvertisementSoapBinding" type="impl:Advertisement">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdvertisementService">

      <wsdl:port binding="impl:AdvertisementSoapBinding" name="Advertisement">

         <wsdlsoap:address location="http://localhost:8080/Ebay_Jax/services/Advertisement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
